@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h4>Add new Treat</h4>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @style = "font-weight: 600px; color: red;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name, "Treat Name: ")
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Add" />
}
<p>@Html.ActionLink("Back to Treat List", "Index")</p>