@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h2>Add Flavor</h2>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @style = "font-weight: 600px; color: red;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name, "Flavor Name: ")
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Add" />
}
<p>@Html.ActionLink("Back to Flavor List", "Index")</p>